@model comerciales.Contexto.tar_colores_productos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tar_colores_productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tam_colores.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tam_colores.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tam_productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tam_productos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
