@model comerciales.Contexto.tam_empresas

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <header id="page-header">
        <i class="glyphicon glyphicon-briefcase"></i>
        <h1> Datos De La Empresa</h1>   
    </header>
    <div class="panel-heading panel-heading-transparent">

        <hr />
        <div id="panel-misc-portlet-color-r3" class="panel panel-primary">

            <div class="panel-heading">

                <span class="elipsis">
                    <!-- panel title -->
                    <strong>Detalle Empresa</strong>
                </span>

                <!-- right options -->
                <ul class="options pull-right list-inline">
                    <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom"></a></li>
                    <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                </ul>
                <!-- /right options -->

            </div>

            <!-- panel content -->
            <div class="panel-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.cod_empresa)
                <div class="form-group">
                    <label class="control-label col-md-2" for="nombre">Nombre</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="razon_social">Razón Social</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="cuit">Cuit</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cuit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cuit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>

            </div>
            <!-- /panel content -->

        </div>

        <div id="panel-misc-portlet-color-r3" class="panel panel-primary">

            <div class="panel-heading">

                <span class="elipsis">
                    <!-- panel title -->
                    <strong>Parametros Empresa</strong>
                </span>

                <!-- right options -->
                <ul class="options pull-right list-inline">
                    <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" ></a></li>
                    <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" ><i class="fa fa-expand"></i></a></li>
                    
                </ul>
                <!-- /right options -->

            </div>

            <!-- panel content -->
            <div class="panel-body">

                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th class="text-center">Cod. Parametro</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Valor</th>
                            <th class="text-center">Editar</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.tap_empresas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cod_parametro)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)

                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-info btn-xs" onclick="location.href= '@Url.Action("edit","tap_empresas",new { id=item.id })'">Editar</button>
                            </td>
                        </tr>
                    }
                </table>

                <!-- CSS DATATABLE -->
                <link href="assets/css/layout-datatable.css" rel="stylesheet" type="text/css" />



            </div>


            </div>
            <!-- /panel content -->

        </div>
   

        
}


