@model comerciales.Contexto.tam_productos

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <header id="page-header">
        <i class="glyphicon glyphicon-pencil"></i>
        <h1> Editar Producto</h1>
    </header>
    <div class="panel-heading panel-heading-transparent">
        <div id="panel-misc-portlet-color-r3" class="panel panel-primary">

            <div class="panel-heading">

                <span class="elipsis">
                    <!-- panel title -->
                    <strong>Datos Producto</strong>
                </span>

                <!-- right options -->
                <ul class="options pull-right list-inline">
                    <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" ></a></li>
                    <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" ><i class="fa fa-expand"></i></a></li>                   
                </ul>
                <!-- /right options -->

            </div>

            <!-- panel content -->
            <div class="panel-body">

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-label col-md-2">Empresa</div>
                            <div class="col-md-10">
                                @Html.DropDownList("cod_empresa", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.cod_empresa, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Cod. Producto</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cod_producto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cod_producto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Nombre</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Descripcion</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Precio Costo</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.precio_costo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.precio_costo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Precio Venta</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.precio_venta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.precio_venta, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">                                                 
                        <div class="control-label col-md-2">Precio Recarga</div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.precio_recarga, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.precio_recarga, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Margen</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.margen, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.margen, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Estado</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Marca</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cod_marca, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cod_marca, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Rubro</div>
                            <div class="col-md-10">
                                @Html.DropDownList("cod_rubro", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cod_rubro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Subrubro</div>
                            <div class="col-md-10">
                                @Html.DropDownList("cod_subrubro", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cod_subrubro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Color</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cod_color, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cod_color, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Capacidad Nominal</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.capacidad_nominal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.capacidad_nominal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Agente</div>
                            <div class="col-md-10">
                                @Html.DropDownList("id_agente", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_agente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="control-label col-md-2"><strong>Tipo de Fuego</strong></div>
                        <div class="col-md-10">
                            @Html.DropDownList("id_tipo_fuego", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.id_tipo_fuego, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">Fecha Creación</div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    @Html.HiddenFor(model => model.id)

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <button type="button" class="btn btn-info" onclick="location.href= '@Url.Action("index")'">Volver</button>
                    </div>
                </div>
            </div>
            <!-- /panel content -->

        </div>
        
    </div>

}

       
