@model IEnumerable<comerciales.Contexto.tam_productos>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="page-header">
    <i class="glyphicon glyphicon-tags"></i>
    <h1>  Datos de Productos</h1>
</header>
<div class="panel-heading panel-heading-transparent">
    <p>
        <button type="button" class="btn btn-success" onclick="location.href= '@Url.Action("create")'">Agregar Producto</button>
    </p>
    <div id="panel-misc-portlet-color-r3" class="panel panel-primary">

        <div class="panel-heading">

            <span class="elipsis">
                <!-- panel title -->
                <strong>Listado de Productos</strong>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" ><i class="fa fa-expand"></i></a></li>                
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">

            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                <tr>
                    <th class="text-center">Cod. Producto</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Precio Venta</th>
                    <th class="text-center">Precio Recarga</th>                    
                    <th class="text-center">Capacidad</th>
                    <th class="text-center">Agente</th>
                    <th class="text-center">Tipo de Fuego</th>
                    <th class="text-center">Acción</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio_venta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio_recarga)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.capacidad_nominal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tap_tablas.valor )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tap_tablas1.valor)
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-info btn-xs" onclick="location.href= '@Url.Action("edit",new { id=item.id })'">Editar</button>
                            <button type="button" class="btn btn-warning btn-xs" onclick="location.href= '@Url.Action("details",new { id=item.id })'">Detalles</button>
                            <button type="button" class="btn btn-danger btn-xs">Imagen</button>
                        </td>
                    </tr>
                }

            </table>

        </div>
        <!-- /panel content -->

    </div>
</div>