@model comerciales.Contexto.tap_productos_imagen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tap_productos_imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cod_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tam_productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tam_productos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
